:root{
  --body-bg-color: white;
  --nav-a-color: #e8e8f2;
  --all-border: solid 4px #fdcba8;
  --all-border-radius: 0px;
  --webkit-box-shadow-light: -2px 3px 8px 11px rgba(232, 232, 242, 0.52);
  --moz-box-shadow-light: -2px 3px 8px 11px rgba(232, 232, 242, 0.52);
  --box-shadow-light: -2px 3px 8px 11px rgba(232, 232, 242, 0.52);
}
:root[theme="dark"]{
  --body-bg-color: rgba(18, 20, 22, 1);
  --nav-a-color: rgba(108, 108, 108, 1);
  --all-border: solid 4px rgba(36, 36, 36, 1);
  --all-border-radius: 5px;
  --webkit-box-shadow-light: 0;
  --moz-box-shadow-light: 0;
  --box-shadow-light: 0;
}

body {
  background: var(--body-bg-color);
}

#header {
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 10%;
}

#header img {
  width: 85px;
}

.change-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

#oldpass, #password, #new-pass {
  border: var(--all-border);
  padding: 3px 3px 3px 3px;
  width: 300px;
  margin-bottom: 20px;
}

.submit {
  margin-top: 20px;
  border: var(--all-border);
}

#sign-in {
  border: 0;
  background: none;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  padding-bottom: 2px;
  color: #ab7692;
}

.unknown-password {
  margin-top: 20px;
  font-family: "PT Sans", sans-serif;
  color: red;
}
