body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: rgba(18, 20, 22, 1);
}

body a {
  text-decoration: none;
}

footer {
  flex-shrink: 0;
}

.nav {
  display: flex;
  text-decoration: none;
}

.nav a {
  color: rgba(108, 108, 108, 1);
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 10.5%;
  margin-top: 5rem;
  margin-right: 30px;
  margin-bottom: 70px;
}

.shop-partner {
  padding: 5px 5px 1px 5px;
  margin-left: auto;
  max-height: 605px;
  border: solid 4px rgba(36, 36, 36, 1);
  border-radius: 5px;
}

.logo-left {
  display: inherit;
}

.logo {
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
}

.logo2 {
  margin-top: 35px;
  margin-left: 35px;
  font-family: "Odibee Sans", cursive;
  font-size: 2.5em;
}

.sign-help {
  margin-left: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.sign-help a {
  font-family: "Odibee Sans", cursive;
  font-size: 1.6em;
  border: solid 4px rgb(36, 36, 36);
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
}

.sign-in {
  margin-right: 20px;
}

.sign-link {
  display: flex;
  justify-content: center;
  max-height: 40px;
}

#sign-auth {
  padding: 15px 15px 15px 15px;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-delay: 0.4s;
  border: solid 4px #fdcba8;
  margin-top: 10px;
  position: absolute;
  right: 100px;
}

#submit {
  background: none;
  border: 0;
  cursor: pointer;
  text-align: center;
}

.submit {
  border: solid 2px #fdcba8;
  margin: 8px 8px 5px 8px;
  display: flex;
  justify-content: center;
}

.sign-in:hover #sign-auth {
  opacity: 1;
  visibility: visible;
}

.help {
  display: flex;
  max-height: 40px;
  margin-right: 60px;
}

.order-together {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 70px;
}

.order-together a {
  font-family: "Odibee Sans", cursive;
  font-size: 1.8em;
  border: solid 4px rgba(36, 36, 36, 1);
  padding: 0px 20px 0px 20px;
  color: rgba(108, 108, 108, 1);
  border-radius: 5px;
}

.orders {
  margin-bottom: 40px;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  color: #0000ff;
}

.copyright {
  display: block;
  position: absolute;
  background: rgba(97, 97, 97, 0.3);
  left: 0;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 11px;
  padding-top: 13px;
  padding-bottom: 12px;
}

.rules {
  margin-left: 70%;
}

.copy {
  margin-left: 2%;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .shop-partner {
    display: none;
  }

  .rules {
    margin-left: 50%;
  }

}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .rules {
    margin-left: 10px;
    white-space: nowrap;
  }

  .help {
    margin-right: 0px;
  }

  .orders {
    margin-bottom: 20px;
  }

  .sign-in {
    margin-left: 0;
  }

  .sign-help {
    margin-bottom: 20px;
    margin-left: 0;
    justify-content: space-between;
  }

  .main {
    margin-left: 0;
  }
  .shop-partner {
    display: none;
  }

}

}
