:root{
  --body-bg-color: white;
  --nav-a-color: #e8e8f2;
  --all-border: solid 4px #fdcba8;
  --all-border-radius: 0px;
  --webkit-box-shadow-light: -2px 3px 8px 11px rgba(232, 232, 242, 0.52);
  --moz-box-shadow-light: -2px 3px 8px 11px rgba(232, 232, 242, 0.52);
  --box-shadow-light: -2px 3px 8px 11px rgba(232, 232, 242, 0.52);
}
:root[theme="dark"]{
  --body-bg-color: rgba(18, 20, 22, 1);
  --nav-a-color: rgba(108, 108, 108, 1);
  --all-border: solid 4px rgba(36, 36, 36, 1);
  --all-border-radius: 5px;
  --webkit-box-shadow-light: 0;
  --moz-box-shadow-light: 0;
  --box-shadow-light: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: var(--body-bg-color);
  user-select: none;
}

body a {
  text-decoration: none;
}

footer {
  flex-shrink: 0;
}

.nav {
  display: flex;
  text-decoration: none;
}

.nav a {
  color: var(--nav-a-color);
}

.switch {
  border: var(--all-border);  width: 40px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  padding: 2px 2px 2px 2px;


}

.switch-button {
  width: 15px;
  height: 15px;
  align-self: center;
  background: red;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 0px;
}

.button-on {
  animation-name: switch-on;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.button-off {
  animation-name: switch-off;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes switch-on {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: 25px;
  }
}

@keyframes switch-off {
  from {
    margin-left: 25px;
  }

  to {
    margin-left: 0px;
  }
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 10.5%;
  margin-top: 5rem;
  margin-right: 30px;
  margin-bottom: 70px;
}

.shop-partner {
  border: var(--all-border);
  padding: 5px 5px 1px 5px;
  margin-left: auto;
  -webkit-box-shadow: var(--webkit-box-shadow-light);
  -moz-box-shadow: var(--moz-box-shadow-light);
  box-shadow: var(--box-shadow-light);
  border-radius: var(--all-border-radius);
}

.logo-left {
  display: inherit;
}

.logo {
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
}

.logo2 {
  margin-top: 35px;
  margin-left: 35px;
  font-family: "Odibee Sans", cursive;
  font-size: 2.5em;
}

.sign-help {
  margin-left: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.sign-help a {
  font-family: "Odibee Sans", cursive;
  font-size: 1.6em;
  border: var(--all-border);
  padding: 2px 10px 2px 10px;
  border-radius: var(--all-border-radius);
}

.sign-in {
  margin-right: 20px;
}

.sign-link {
  display: flex;
  justify-content: center;
  max-height: 40px;
}

#sign-auth {
  padding: 15px 15px 15px 15px;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-delay: 0.4s;
  border: var(--all-border);
  margin-top: 10px;
  position: absolute;
  right: 100px;
}

#submit {
  background: none;
  border: 0;
  cursor: pointer;
  text-align: center;
}

.submit {
  border: var(--all-border);
  margin: 8px 8px 5px 8px;
  display: flex;
  justify-content: center;
  border-radius: var(--all-border-radius);

}

.sign-in:hover #sign-auth {
  opacity: 1;
  visibility: visible;
}

.help {
  display: flex;
  max-height: 40px;
  margin-right: 60px;
}

.order-together {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 70px;
}

.order-together a {
  font-family: "Odibee Sans", cursive;
  font-size: 1.8em;
  border: var(--all-border);
  padding: 0px 20px 0px 20px;
  color: #e8e8f2;
  border-radius: var(--all-border-radius);

}

.orders {
  margin-bottom: 40px;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  color: #0000ff;
}

.copyright {
  display: block;
  position: absolute;
  background: #dedede;
  left: 0;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  padding-top: 13px;
  padding-bottom: 12px;
}

.rules {
  margin-left: 70%;
}

.copy {
  margin-left: 2%;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .shop-partner {
    display: none;
  }

  .rules {
    margin-left: 50%;
  }

}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .rules {
    margin-left: 10px;
    white-space: nowrap;
  }

  .help {
    margin-right: 0px;
  }

  .orders {
    margin-bottom: 20px;
  }

  .sign-in {
    margin-left: 0;
  }

  .sign-help {
    margin-bottom: 20px;
    margin-left: 0;
    justify-content: space-between;
  }

  .main {
    margin-left: 0;
  }
  .shop-partner {
    display: none;
  }

}

}
