:root{
  --body-bg-color: white;
  --nav-a-color: #e8e8f2;
  --all-border: solid 4px #fdcba8;
  --all-border-radius: 0px;
  --before-color: rgba(253, 203, 168, 1);
  --after-color: rgba(253, 203, 168, 1);
}
:root[theme="dark"]{
  --body-bg-color: rgba(18, 20, 22, 1);
  --nav-a-color: rgba(108, 108, 108, 1);
  --all-border: solid 4px rgba(36, 36, 36, 1);
  --all-border-radius: 5px;
  --before-color: rgba(36, 36, 36, 1);
  --after-color: rgba(36, 36, 36, 1);
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  background: var(--body-bg-color);
}

main {
  /* Чтобы занимал оставшееся пространство */
  flex-grow: 1;
}

footer {
  /* Чтобы footer не уменьшался */
  flex-shrink: 0;
}

.nav {
  display: flex;
  text-decoration: none;
}

.logo-left {
 display: inherit;
 flex-direction: row;
}

.logo {
  margin-top: 15%;
  margin-left: 15%;
}

.logo2 {
  margin-left: 10%;
  margin-top: 25%;
  font-family: "Odibee Sans", cursive;
  font-size: 2em;
}

.logo img {
width: 64px;
}

.logo2 a {
  text-decoration: inherit;
  color: rgba(232, 232, 242, 1);
}

.logo-center::after {
  position: absolute;
  content: '';
  width: 240px;
  height: 6px;
  background: var(--after-color);
  margin-top: 59px;
  margin-left: -408px;
}

.logo-center::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 40px;
  background: var(--before-color);
  margin-top: 25px;
  margin-left: -15px;
}

.logo-center {
    margin-left: 20%;
    margin-top: 2%;

}

.logo-center img {
  width: 378px;
  border: var(--all-border);
  padding: 5px 5px 5px 5px;
}

.menu {
  margin-left: 55px;
  margin-top: 3%;
  margin-bottom: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 1.7em;
}

.account-pic {
  display: table-cell;
  height: 60px;
  width: 60px;
  border: var(--all-border);
  vertical-align: middle;
  text-align: center;
  letter-spacing: 4px;
  text-indent: 4px;
  color: rgba(232, 232, 242, 1);
}

.setting {
  display: table;
  vertical-align: middle;
  width: 240px;
  height: 30px;
  text-indent: 10px;
}

.setting > div {
  margin-top: 20px;
  border: var(--all-border);
  cursor: pointer;
}

.setting > div a {
  display: block;
  color: rgba(253, 210, 181, 1);
  text-decoration: none;
  width: 100%;
}


.setting > div form {
  display: flex;
}

.setting > div form input {
  font-family: "PT Sans", sans-serif;
  font-size: 1.7rem;
  background: none;
  border: 0;
  color: rgba(253, 210, 181, 1);
  text-indent: 3px;
  cursor: pointer;
  width: 100%;
  padding-right: 100%;
}

.copyright {
  display: block;
  position: absolute;
  background: #dedede;
  left: 0;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  padding-top: 13px;
  padding-bottom: 12px;
}

.rules {
  margin-left: 70%;
}

.copy {
  margin-left: 2%;
}

footer .rules a {
  text-decoration: none;
  color: #000;
}

footer .rules a:hover {
  color: #0000ff;
}


@media (max-width: 480px) {
  .logo-center {
    display: none;
  }

  .rules {
    margin-left: 5%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .rules {
    margin-left: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .rules {
    margin-left: 50%;
  }
}

@media (width: 1024px) and (orientation: landscape) {
  .rules {
    margin-left: 60%;
  }
}
