:root{
  --body-bg-color: white;
  --nav-a-color: #e8e8f2;
  --all-border: solid 4px #fdcba8;
  --all-border-radius: 0px;
  --before-color: rgba(253, 203, 168, 1);
  --after-color: rgba(253, 203, 168, 1);
}

:root[theme="dark"]{
  --body-bg-color: rgba(18, 20, 22, 1);
  --nav-a-color: rgba(108, 108, 108, 1);
  --all-border: solid 4px rgba(36, 36, 36, 1);
  --all-border-radius: 5px;
  --before-color: rgba(36, 36, 36, 1);
  --after-color: rgba(36, 36, 36, 1);
}


body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  background: var(--body-bg-color);
}

main {
  /* Чтобы занимал оставшееся пространство */
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

footer {
  /* Чтобы footer не уменьшался */
  flex-shrink: 0;
}

.nav {
  display: flex;
  text-decoration: none;
}

.logo-left {
 display: inherit;
 flex-direction: row;
}

.logo {
  margin-top: 15%;
  margin-left: 15%;
}

.logo2 {
  margin-left: 10%;
  margin-top: 25%;
  font-family: "Odibee Sans", cursive;
  font-size: 2em;
}

.logo img {
width: 64px;
}

.logo2 a {
  text-decoration: inherit;
  color: rgba(232, 232, 242, 1);
}

.logo-center::after {
  position: absolute;
  content: '';
  width: 240px;
  height: 6px;
  background: var(--after-color);
  margin-top: 59px;
  margin-left: -408px;
}

.logo-center::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 40px;
  background: var(--before-color);
  margin-top: 25px;
  margin-left: -15px;
}

.logo-center {
    margin-left: 20%;
    margin-top: 2%;

}

.logo-center img {
  width: 378px;
  border: var(--all-border);
  border-radius: var(--all-border-radius);
  padding: 5px 5px 5px 5px;
}

.menu {
  margin-left: 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 1.7em;
  display: inline-flex;
  flex-direction: column;
}

 .menu > div {
    margin-bottom: 12%;
    text-align: start;
    text-indent: 1rem;
    width: 15rem;
    padding: 8px 0 8px 0;
    border: var(--all-border);
    border-radius: var(--all-border-radius);

 }

 .menu > div a {
   width: 100%;
   display: flex;
   text-decoration: none;
   color: rgba(232, 232, 242, 1);
 }

.chat {
  overflow-x: auto;
  border: var(--all-border);
  border-radius: var(--all-border-radius);
  width: 45rem;
  height: 20rem;
}

.messages {
  margin-left: 20px;
  margin-bottom: 20px;
}

.sendMessage {
  height: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  display:flex;
  align-items: center;
}

.sendMessage input[type="text"]{
  border: var(--all-border);
  border-radius: var(--all-border-radius);
  width: 100%;
  height: 2rem;
  color: rgba(232, 232, 242, 1);
  font-size: 1.3rem;
}

.username, .userText {
  color: rgba(232, 232, 242, 1);
  text-align: start;
  text-indent: 1rem;
  font-family: "PT Sans", sans-serif;
}

.username {
  padding: 8px 0 8px 0;
  font-size: 1.7rem;
}

.userText {
  display: flex;
  margin-left: 2rem;
  padding: 5px 0 5px 0;
  font-size: 1.3rem;
  word-break: break-word;
}

.userText a {
  text-decoration: none;
  color: rgba(176, 196, 222, 1);
  margin-left: -5px;
  margin-right: -10px;
}


.time {
  font-family: "PT Sans", sans-serif;
  color: rgba(232, 232, 242, 1);
  font-size: 1.7rem;
  align-self: end;
  margin-left: auto;
  padding-right: 10px;
  padding-bottom: 10px;

}
.message {
  display: flex;
}

#button {
  border: 0;
  background: none;
  background-image:url('https://shipout.ru/img/send-button.svg');
  background-size:120% 100%;
  width: 80px;
  height: 80px;
}

.right-button {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.right-button > div {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 1.3rem;
  border: var(--all-border);
  border-radius: var(--all-border-radius);
  width: 12rem;
  margin-bottom: 12%;
  padding: 8px 0 8px 0;
  cursor: pointer;
  color: rgba(232, 232, 242, 1);
}

.right-button > div a{
  text-decoration: none;
  color: rgba(232, 232, 242, 1);
}

.problems {
 display:flex;
 flex-direction: column;
 align-items: center;
 cursor: auto !important;
}

.problems img {
  width:40px;
}

@media (min-width: 1000px) {
  .tablet {
    display: flex;
    flex-direction: row;
  }

  .user-text {
    word-break: break-word;
  }
}


@media (min-width: 1024px) and (max-width: 1300px) and (orientation: landscape) {
  .tablet {
    flex-direction: row;
  }

  .chat {
    width: 35rem;
  }

  .right-button {
    align-self: center;
    margin-left: 0rem;
  }

  .menu > div {
    width: 10rem;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .menu > div {
    margin-bottom: 5%;
    width: 10rem;
  }

  .chat {
    width: 32rem;
    margin-bottom: 0.5rem;
  }

  .tablet {
    display: flex;
    flex-direction: column;
  }

  .user-text {
    word-break: break-word;
  }

  .right-button {
    align-self: center;
  }

  .right-button > div {
    margin-bottom: 0.5rem;
  }
}



@media (max-width: 767px) {

  .logo-center {
    display: none;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1.2rem;
}
  .menu > div {
    margin-bottom: 5%;
    margin-right: 0.5rem;
    padding: 0;
    width: 9rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

.tablet {
  display: flex;
  flex-direction: column;
}

  .chat {
    width: 18rem;
    height: 18rem;
    margin-bottom: 5%;
  }

.messages {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .username {
    font-size: 1.4rem;
  }

  .user-text {
    word-break: break-word;
    font-size: 1.2rem;
  }

  .time {
    padding-left: 8px;
    font-size: 1.2rem;
  }

  .right-button {
    align-self: center;
    margin-left: 0rem;
  }
  .right-button > div {
    margin-bottom: 5%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .chat {
    width: 40rem;
  }

  .right-button {
    align-self: center;
    margin-left: 0;
  }
}
