:root{
  --body-bg-color: white;
  --nav-a-color: #e8e8f2;
  --all-border: solid 4px #fdcba8;
  --all-border-radius: 0px;
  --before-color: rgba(253, 203, 168, 1);
  --after-color: rgba(253, 203, 168, 1);
}

:root[theme="dark"]{
  --body-bg-color: rgba(18, 20, 22, 1);
  --nav-a-color: rgba(108, 108, 108, 1);
  --all-border: solid 4px rgba(36, 36, 36, 1);
  --all-border-radius: 5px;
  --before-color: rgba(36, 36, 36, 1);
  --after-color: rgba(36, 36, 36, 1);
}

body {
  background: var(--body-bg-color);
}

.nav {
  display: inline-flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
}

.nav a {
  text-decoration: none;
  color: var(--nav-a-color);
}

.logo2 {
  margin-left: 18px;
  font-family: "Odibee Sans", cursive;
  font-size: 2em;
  align-self: center;
}


.border-logo {
  margin-left: 55%;
  margin-top: 10px;
  border-top: var(--all-border);
  padding-top: 5px;
}

.border-logo img {
  padding-left: 20px;
}

.border-logo:after {
  content: '';
  height: 4px;
  background: var(--before-color);
  position: absolute;
  width: 50px;
  top: 38px;
}

.border-logo:before {
  content: '';
  height: 4px;
  background: var(--before-color);
  position: absolute;
  width: 290px;
  top: 72px;
  left: 500px;
}

.shops-list {
  display: inline-flex;
  align-items: flex-start;
  width: 70%;
  margin-left: 20%;
  flex-direction: row;
  flex-wrap: wrap;
}

.shops-list img {
  width: 100%;
  max-height: 100px;
}

.shops-list > div {
  margin-right: 7%;
  margin-top: 7%;
  border: var(--all-border);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  cursor: pointer;
  max-width: 128px;
  width: 128px;
  height: 100px;
}

@media (min-width: 768px) and (max-width: 1300px) {
  .border-logo {
    display: none;
  }

  .shops-list {
    justify-content: flex-start;
    margin-left: 5%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .border-logo {
    display: none;
  }

  .shops-list {
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }

  .row {
    max-width: 64px;
    width: 64px;
  }
}
